/********* Topique / New Topic ====> *******/

.section_Add_Topic {
    display: flex;
    flex-direction: column;
    width: 57%;
    height: 100%;
    min-width: 150px;

    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(216, 225, 240);
}



.MyRedditStream {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 5px 20px;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
    min-width: 100px;
}
.MyRedditStream div{
    display: flex;
    width: 100%;
    
    font-size: 2em;
    min-width: 100px;
}

.navTopics {
    display: flex;
    width: 98%;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
}

.topicBtn {
    display: flex;
    min-width: 50px;
    justify-content: center;
    flex-direction: row;
   
    min-width: 100px;
    margin: 5px 5px 5px;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 6px;

    
}

#addTopicBtn {
    display: flex;
    flex-direction: row;
    min-width: 50px;
    border-radius: 6px;
    flex-wrap: wrap;
    background-color: rgb(12, 51, 180);
    font-weight: bold;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

#topicBtn {
    display: flex;
    flex-direction: row;
    min-width: 50px;
    border-radius: 6px;
    flex-wrap: wrap;
    background-color: blueviolet;
}


.navTopics button:hover {

    cursor: pointer;
}

.navTopics input {
    display: flex;
    min-width: 50px;
    justify-content: center;
    border: 1px solid black;
    flex-direction: row;
    width: 20%;
    min-width: 100px;
    margin: 5px;

    padding: 5px;
    flex-wrap: wrap;
    border-radius: 6px;
    background-color: rgb(253, 252, 253);
    color: rgb(8, 0, 0);
}


/********* Topique / New Topic <==== *******/